@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: #000;
    
}

main{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top:10%;
    font-family: 'Manrope', sans-serif;
    /* background-color: black; */
}


.card{
    /* height: 214px;
    width: 544px; */
    min-width: 500px;
    max-width: 544px;
    min-height:214px;
    padding: 2rem;
    
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    background-color: #323a49;
   line-height: 2;
   position: relative;

   margin: 0 auto;
   border-radius: 4px;
    
}
h2{
    color: #52ffa8;
}

p{
    font-size: 28px;
    color: #CEE3e9;
}

.divider{
    width: 350px;
}

.img-btn{
    position: absolute;
    left: calc(50% - 28px);
    padding: 15px;
    bottom: -20px;
    border-radius: 50%;
    background-color: #52ffa8;

}

.img-btn:hover{
    box-shadow: 0px 2px 70px 2px #52ffa8
;
}

@media (max-width: 600px){
    .card{
        max-width: 355px;
        min-width: 350px;
    }
    h2{
        font-size: 1rem;
    }
    
    p{
        font-size:1rem;
    }


}
